<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./style.scss")
    title NDR - 东软校园网络认证客户端
  body
    .main
      .ch.intro
        .container
            h1 连接东软，连接世界
            h2 属于东软的校园网上网客户端
            .btnbox
              a.btn(href="#") 下载
              a.btn(href="#") 了解更多
            .demo
              img(src="./image/ndr_login.png")
      .ch.about
        .container
          .title
            h2 由学生开发维护的网络客户端
            h3 
          .clear
              p NDR 校园网络认证客户端是由东软网络安全工作室开发，东软教学支持与实验中心监制的大连东软信息学院校园网络客户端。
              p 该软件目前已经实现拨号、用户身份认证等DR.COM客户端的大部分模块以及增加了一些新的功能。
              p 该软件针对校园网络，其开发前景是光明的。在NDR之上可以集成更多方便的功能，如集成上网套餐查询、文件快速交换、网络报修等等等。
              p 值得庆幸的是，我们有一个强大的开发团队——东软网络安全工作室，我们可以用更多时间去设计和构思，用更短的时间去实现。
              p 如果你对NDR的开发感兴趣并且有一定的开发能力，我们真诚的希望你加入进来，和我们一起工作。
      .ch.download
        .container
          .title
            h2 在你常用的平台开始使用吧
            h3 选择
          .clear.content
            a(href="#")
              .item.windows
                i.icon-windows
                .content
                  h4 NDR for Windows 下载
                  span v1.0.1  / 更新时间：2019-02-01
            a(href="#")
              .item.apple
                i.icon-apple
                .content
                  h4 NDR for MacOS 下载
                  span v1.0.1  / 更新时间：2019-02-01
            a(href="#")
              .item.linux
                i.icon-linux
                .content
                  h4 NDR for Linux 下载
                  span v1.0.1  / 更新时间：2019-02-01
      .ch.help
        .container
          .title
            h2 常见问题FAQ
            p 上网遇到问题？来这里寻找解决方案
          .content.clear
            .item
              p.q <i class="icon-comment"></i>大一新生如何上网？
              p.a 请参见 <a href="http://wifi.neusoft.edu.cn/2018_online_guide.html">东软Go校园网导航</a>
              p.a 请参见 <a href="http://wifi.neusoft.edu.cn/2018_online_guide.html">新生上网指南</a>
            .item
              p.q <i class="icon-comment"></i>NDR拨号后报告了错误
              p.a 请查看客户端的错误说明，排查问题，或参考<a href="#">TrubleShooting</a><br>651：检查网线连接<br>691：密码套餐错误或账号异常
            .item
              p.q <i class="icon-comment"></i>教室/寝室网口或交换机损坏
              p.a 登录 <a href="#">bx.neusoft.edu.cn</a> 进行报修
            .item
              p.q <i class="icon-comment"></i>使用CUCC无线网络遇到问题
              p.a CUCC问题反馈请添加 <a href="#">CUCC网络QQ群</a>
            .item
              p.q <i class="icon-comment"></i>有线网络套餐/计费遇到问题
              p.a 网络问题反馈请添加 <a href="#">东软网络反馈QQ群</a>
      .ch.footer
        .container
          h2 NDR 东软校园网络认证客户端
