<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./style.scss")
    title NDR - 东软校园网络认证客户端
  body
    .main
      .ch.intro
        .container
            h1 连接东软，连接世界
            h2 属于东软学生的校园网上网客户端
      .ch.about
        .container
          .title
            h2 跨越长城，走向世界。
            h3 简单链接网络
          .clear
            .left
              p NDR设计的根本作用为了落实教育部下发的有关的学生上网实名制的有关规定，实名制可以防止校园网络被滥用以及非法使用，意在创造一个安全的校园网络环境，详情请参见《中华人民共和国计算机信息网络国际联网管理暂行规定》、《中国教育和科研计算机网暂行管理办法》、《教育部 共青团中央关于进一步加强高等学校校园网络管理工作的意见》等文件。
              p 另 NDR的开发是东软网络相关基础建设中的实验项目，补充AAA认证下的IPv6网络环境，集成更多方便上网的功能，更好的服务于我们广大东软学生。
            .right
              p NDR 校园网络认证客户端是由东软网络安全工作室开发，东软教学支持与实验中心监制。
              p 该软件目前已经实现拨号、用户身份认证等DR.COM客户端的大部分模块以及增加了一些新的功能。
              p 该软件针对校园网络，其开发前景是光明的。在NDR之上可以集成更多方便的功能，如集成上网套餐查询、文件快速交换、网络报修等等等。
              p 值得庆幸的是，我们有一个强大的开发团队——东软网络安全工作室，我们可以用更多时间去设计和构思，用更短的时间去实现。
              p 如果你对NDR的开发感兴趣并且有一定的开发能力，我们真诚的希望你加入进来，和我们一起工作。
      .ch
        .container
          h2 在你的常用平台使用客户端
          .clear
            .right
              .download
                .item
                  img(src="#")
                  h4 Windows
                  a(href="#") 下载
                .item
                  img(src="#")
                  h4 MacOS
                  a(href="#") 下载
                .item
                  img(src="#")
                  h4 Linux
                  a(href="#") 下载